body {
    box-sizing: border-box;
    background-color: rgb(233, 249, 221);
    text-align: center;
}


#calculator {
    background-color: rgba(129, 131, 135, 0.777);
    border: 7px solid rgba(72, 72, 72, 0.777);
    border-radius: 4%;
    block-size: 400px;
    inline-size: 400px;
    box-shadow: 6px 8px 3px rgb(37, 36, 36);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
}

span#calcDisplay {
    margin-bottom: 40px;
    margin-top: -8px;
    inline-size: 200px;
    block-size: 80px;
    background-color: aquamarine;
    border: 1px dashed rgb(85, 125, 112);
    box-shadow: 0px 0px 10px aquamarine;
    border-radius: 5px;
    text-align: center;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  
}

button {
    border:2px solid rgba(217, 211, 211, 0.936);
    box-shadow: 1px 1px 6px rgba(198, 193, 193, 0.936);;
    block-size: 50px;
    inline-size: 50px;
    font-size: 14px;
    font-weight: bold;
    background-color: #EFEFEF;
}

button#backspaceBtn {
    inline-size: 100px;
}

#btnPad {
    display: flex;
    flex-flow: row wrap;
    gap: 5%;
    justify-content: center;
}

#basicOperPad {
    display: flex;
    gap: 5px;
}

#numberPad {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: center;

}